{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Система контролю відвідувань</title>
        <link rel="stylesheet" href="{% static 'styles/login.css' %}">
        <link href="{% static 'styles/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="header">
            <div class="page-header">
                <span class="text-uppercase text-style">Система контролю відвідувань студентів</span>
            </div>
        </div>

        <div id="main">
            <div id="login-form">
                <h1>АВТОРИЗАЦІЯ</h1>
                <fieldset>
                    <form class="form-horizontal" name="LoginForm" action="{% url 'login_user' %}" method="post">{% csrf_token %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}
                        <div class="control-group">
                            <label class="control-label" for="username">Логін</label>
                            <div class="controls">
                                <input type="text" id="username" name="username" class="form-control"  placeholder="Логін">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="password">Пароль</label>
                            <div class="controls">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Пароль">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="submit" class="btn btn-default" value="Ввійти">
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div id="footer"></div>
    </body>
</html>