<script type="text/template" id="adminAllFacultyInfoTemplate">
    <form role="form" id="addFacultyInfo" onsubmit="return false;">
        <div class="form-group">
            <input type="text" placeholder="Назва факультету" name="facultyTitle" id="facultyTitle" class="form-control">
            <label for="firstSemesterStart" class="label-information">Початок першого семестру</label>
            <input type="date" name="firstSemesterStart" id="firstSemesterStart" class="form-control">
            <label for="firstSemesterEnd" class="label-information">Кінець першого семестру</label>
            <input type="date" name="firstSemesterEnd" id="firstSemesterEnd" class="form-control">
            <label for="secondSemesterStart" class="label-information">Початок другого семестру</label>
            <input type="date" name="secondSemesterStart" id="secondSemesterStart" class="form-control">
            <label for="secondSemesterEnd" class="label-information">Кінець другого семестру</label>
            <input type="date" name="secondSemesterEnd" id="secondSemesterEnd" class="form-control">
        </div>

          <button  class="btn btn-default" name="addGroup" id="saveFacultyInformation">Зберегти</button>
    </form>
</script>