<script type="text/template" id="adminPage">
    <div class="grid">
        <div class="row">
            <div class="span20" id="page-content">
                <span class="title-page">Система контролю відвідувань</span>

                <div class="row">
                    <div class="span4">
                        <ul class="list-group">
                            <li class="list-group-item adminInformationAboutFaculty">Дані про факультет</li>
                            <li class="list-group-item adminReduction">Зведення</li>
                            <li class="list-group-item adminUserAccess">Надання доступу користувачам</li>
                            <li class="list-group-item deletePasses">Видалення пропусків</li>
                        </ul>
                    </div>

                    <div class="span11" id="adminContent" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>