<script type="text/template" id="attendanceElementTabTemplate">
    <td><%=lastName%> <%=firstName%></td>
    <td><%if (passes[0]) { %> <%=passes[0]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[1]) { %> <%=passes[1]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[2]) { %> <%=passes[2]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[3]) { %> <%=passes[3]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[4]) { %> <%=passes[4]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[5]) { %> <%=passes[5]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[6]) { %> <%=passes[6]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[7]) { %> <%=passes[7]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[8]) { %> <%=passes[8]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[9]) { %> <%=passes[9]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[10]) { %> <%=passes[10]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[11]) { %> <%=passes[11]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[12]) { %> <%=passes[12]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[13]) { %> <%=passes[13]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[14]) { %> <%=passes[14]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[15]) { %> <%=passes[15]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[16]) { %> <%=passes[16]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[17]) { %> <%=passes[17]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[18]) { %> <%=passes[18]%> <%} else { %> &nbsp; <%}%></td>
    <td><%if (passes[19]) { %> <%=passes[19]%> <%} else { %> &nbsp; <%}%></td>
</script>
