<script type="text/template" id="attendanceTabTemplate">
    <h3 class="tabTableHeader">
        <div>ОБЛІК ВІДВІДУВАНЬ СТУДЕНТАМИ ЗАНЯТЬ У І ТА ІІ СЕМЕСТРІ</div>
        <div>(кількість пропущених годин: 1) з поважних причин / 2) без поважних причин</div>
    </h3>
    <table class="table tabTable">
        <thead>
            <tr>
                <th rowspan="2">Прізвище, ім'я, по батькові</th>
                <th colspan="2">Вересень</th>
                <th colspan="2">Жовтень</th>
                <th colspan="2">Листопад</th>
                <th colspan="2">Грудень</th>
                <th colspan="2">Січень</th>
                <th colspan="2">Лютий</th>
                <th colspan="2">Березень</th>
                <th colspan="2">Квітень</th>
                <th colspan="2">Травень</th>
                <th colspan="2">Червень</th>
            </tr>
             <tr>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>
                <th>1</th>
                <th>2</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>
