<script type="text/template" id="reductionParamsTemplate">
    <div class="modal fade reductionParamsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Кількість годин за навчальним планом</h4>
                </div>
                <div class="modal-body">
                    <form class="reductionParamsForm"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Закрити</button>
                    <button type="button" class="btn btn-primary sendParams">Відправити</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="reductionParamsSection">
    <h3>Кафедра <%=title%></h3>
    <label>Кількість годин для 1 курсу<input type="text" data-department="<%=id%>" name="<%=id%>-1" class="form-control" placeholder="Кількість годин для 1 курсу"></label>
    <label>Кількість годин для 2 курсу<input type="text" data-department="<%=id%>" name="<%=id%>-2" class="form-control" placeholder="Кількість годин для 2 курсу"></label>
    <label>Кількість годин для 3 курсу<input type="text" data-department="<%=id%>" name="<%=id%>-3" class="form-control" placeholder="Кількість годин для 3 курсу"></label>
    <label>Кількість годин для 3 курсу скор. форма<input type="text" data-department="<%=id%>" name="<%=id%>-3-short" class="form-control" placeholder="Кількість годин для 3 курсу скор. форма"></label>
    <label>Кількість годин для 4 курсу<input type="text" data-department="<%=id%>" name="<%=id%>-4" class="form-control" placeholder="Кількість годин для 4 курсу"></label>
    <label>Кількість годин для 4 курсу скор. форма<input type="text" data-department="<%=id%>" name="<%=id%>-4-short" class="form-control" placeholder="Кількість годин для 4 курсу скор. форма"></label>
    <label>Кількість годин для 5 курсу магістри<input type="text" data-department="<%=id%>" name="<%=id%>-5-master" class="form-control" placeholder="Кількість годин для 5 курсу магістри"></label>
    <label>Кількість годин для 5 курсу спеціалісти<input type="text" data-department="<%=id%>" name="<%=id%>-5-spec" class="form-control" placeholder="Кількість годин для 5 курсу спеціалісти"></label>
    <hr>
</script>