<script type="text/template" id="searchPage">
    <div class="grid">
        <div class="row">
            <div class="span20" id="page-content" style="margin-left: 300px !important;">
                <span class="title-page">Пошук</span>
                <div class="row">
                    <div class="span11" id="searchContent">
                        <div class="form-group">
                            <input type="text" class="form-control" id="search-student" placeholder="Пошук">
                            <table class="table" id="students-search-list">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Прізвище</th>
                                        <th>Ім'я</th>
                                        <th>По батькові</th>
                                        <th>Група</th>
                                        <th>Email</th>
                                        <th>Кількість пропусків</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>