<script type="text/template" id="sendMailPopupTemplate">
    <div class="modal fade sendMailModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Відправити повідомлення</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control message-text" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Закрити</button>
                    <button type="button" class="btn btn-primary sendEmail">Відправити</button>
                </div>
            </div>
        </div>
    </div>
</script>