body {
     background-image: url("../frontend/images/background.jpg") ;
}

#header {
    height: 300px;
    text-align: center;
    padding: 20px;
}

.text-style {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 900;
    color: rgba(0, 15, 139, 0.30);
    font-size: 35pt;
    text-shadow:
        0 1px #808d93,
        -1px 0 #cdd2d5,
        -1px 2px #808d93,
        -2px 1px #cdd2d5,
        -2px 3px #808d93,
        -3px 2px #cdd2d5,
        -3px 4px #808d93,
        -4px 3px #cdd2d5,
        -4px 5px #808d93,
        -5px 4px #cdd2d5,
        -5px 6px #808d93,
        -5px 5px #cdd2d5,
        -5px 7px #808d93,
        -7px 6px #cdd2d5,
        -7px 8px #808d93,
        -8px 7px #cdd2d5;
}

#login-form {
    background-color: rgba(139, 139, 139, 0.30);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: auto;
    margin-top: -50px;
    width: 350px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);

}

#login-form h1 {
    background-color: rgba(53, 69, 134, 0.46);
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    color: #fff;
    padding: 20px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#login-form fieldset {
    border: none;
    padding: 20px;
    position: relative;
}


#login-form fieldset form {
    width: 310px;
}

#login-form fieldset form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
    -webkit-appearance:none;
    width: 310px;
    margin-top: 1px;
    text-align: center;
}

#login-form fieldset form input[type="email"] {
    padding: 12px 10px;
    width: 310px;
    -webkit-appearance:none;
}

#login-form fieldset form input[type="password"] {
    border-top: none;
    padding: 12px 10px;
    width: 310px;
    -webkit-appearance:none;
}

#login-form fieldset form input[type="submit"] {
    background-color: #ebebeb;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 12px;
    -webkit-appearance: none;
}

#login-form fieldset form input[type="submit"]:hover {
    background-color: #e0e0e0;
}

#login-form fieldset form span:before {
    background-color: #c9c9c9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    content: "?";
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}

#login-form fieldset form span {
    font-size: 12px;
    margin-top: 40px;
}

#login-form fieldset form span a{
    color: #eb6d1a;
    text-decoration: none;
}

#login-form fieldset form span a:hover {
    color: #eb6d1a;
}

.navigation-bar{
    opacity: 0.7;
}

.icons {
    margin: 10px;
}

.icons span {
    margin: 3px;
}

main{
    margin-top: 50px;
    margin-left: 150px;

}

header div {
    font-size: 32pt;
    color: #ffffff;
    height: 50px;
    width: 800px;
    margin-left: 150px;
    margin-top: 100px;

}

.button-content {
    border: solid black 2px;
}
